#.env
.env
.env.production
# ignore node_modules
node_modules/
# ignore build
build/
# ignore DS_Store
DS_Store

# Suggested 
*~
*.swp
tmp/
npm-debug.log
.DS_Store



.build/*
.next
.coverage
now.json
.note

compiled/
production-server/

yarn-error.log